<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <title>Movietimes - Home</title>
  
</head>
<body>
  <header>
    <nav>
      <div class="logo-container">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" class="logo" />
        <h1>Movietimes</h1>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/popular_movies.html">Popular Movies</a></li>
        <li>
          <a href="#">Genres</a>
          <ul>
            <!-- Add genre-specific links here -->
          </ul>
        </li>
        <li><a href="/recommend.html">Recommend</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <div class="search-bar"><!-- Move the search bar outside the navigation -->
      <form action="/search" method="GET"> <!-- Assuming the search action is handled by "/search" endpoint -->
        <input type="text" placeholder="Search movies..." name="query">
        <button type="submit">Search</button>
      </form>
    </div>
  </header>

  <section class="welcome">
    <h2>Welcome to Movietimes</h2>
    {% if user_email %}
    <section class="movies-container">
      <h3>Latest Movies</h3>
      <div class="movies-grid">
        {% for movie in movies %}
          <div class="movie-item">
            <h4><a>{{ movie[1] }}</a></h4>
<br>

            <p>Genre: {{ movie[0] }}</p>
            
            <a href="/rating/{{ movie[1] }}">rate the movie</a>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
</body>
</html>
