<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <title>Northampton News - Home</title>
  </head>
  <body>
    <div class="logo-image">
      <img src="{{ image }}" alt="Logo" class="logo" />
    </div>
      <nav>
        
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="popular_movies.html">Popular Movies</a></li>
          <li>
            <a href="#">Genres</a>
            <ul>
              {% for genre in genres %}
              <li><a href="/genre/{{ genre }}">{{ genre }}</a></li>
              {% endfor %}
          </ul>
          </li>
          <li><a href="recommend.html">Recommend</a></li>
        </ul>
      </nav>
<div class="top">
     <h2>Top 20 Popular movies</h2> 
     <br>
     <br>
</div>
<div class="container">
  <div class="row">
  
    
    <div class="grid-container">
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Avatar</h2>
      </div>
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Herculus</h2>
      </div>
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Spider-man</h2>
      </div>
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Batman Begins</h2>
      </div>
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Aliens</h2>
      </div>
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">James Bond</h2>
      </div>
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">300</h2>
      </div>
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Zombies</h2>
      </div>
      <div class="grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Kick Ass</h2>
      </div>
      <!-- Add more grid items as needed -->
    </div>
    
  </div>
    
    
  {% block content %}
  {% endblock %}
  </body>
</html>
