{% extends "index.html" %}


{% block content %}
<div class="container m-5">
  <div class="row ps-3">
    <h2 class="text-warning">Top 20 Popular movies</h2> 
    <br>
  </div>

  <div class="grid-container">
    <div class="row">
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Avatar</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Hercules</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Spider-man</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Batman Begins</h2>
      </div>
    </div>
    
    <!-- Repeat the above row for additional sets of four movies -->
    
    <div class="row">
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Aliens</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">James Bond</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">300</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Zombies</h2>
      </div>
    </div>
    
    <!-- Add more rows as needed for additional sets of four movies -->
        
    <div class="row">
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Aliens</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">James Bond</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">300</h2>
      </div>
      <div class="col-md-3 grid-item">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
        <h2 class="text-white">Zombies</h2>
      </div>
    </div>

  </div>
  
 </div>
   

</div>
{% endblock %}

</body>
</html>
