{% extends "index.html" %}


{% block content %}
<div class="container m-5 p-5">
  <div class="row ms-5 ps-3">
    <h2 class="text-warning">Top 10 Popular movies</h2> 
    <br>
  </div>

  <div class="grid-container">
    <div class="row m-5">
    {% for movie in popular_movies %}
      <div class="col-md-3 grid-item  pb-2">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png" height="250px">
        <h4 class="text-white "> 
          <a href="/movie_details/{{ movie[0] }}"> {{ movie[0] }} </a> 
        </h4>
      </div>
    {% endfor %}
    </div>   

  </div>
  
 </div>
   

</div>
{% endblock %}

</body>
</html>
