{% extends "index.html" %}


{% block content %}

<body class="container">

  <div class="row mt-5">
    <div class="col-md-4">
      <h2 class="text-center text-white"> Recommend Me:</h2>
    </div>
  
    <div class="col-md-8"> <!-- Use col-md-8 to occupy 8 columns and place the form in the same row -->
      <form method="get" action="/recommend" class="text-center">
        <div class="input-group">
          <input type="text" class="form-control" name="user_input" placeholder="Search Movie...">
          <button type="submit" class="btn btn-warning">Recommend</button>
        </div>
      </form>         
    </div>
  </div>

{% if top_n_movies is not none %}
  <div class="row">
    <h2> Query : {{ user_input }} </h2>
  </div>
  
  <div class="row mt-5">
    <div class="grid-container">
      <div class="row">
        {% for index, row in top_n_movies.iterrows() %}
          <div class="col-md-3 grid-item">
            <img class="card-img-top" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png">
            <h2 class="text-white"> {{ row['Title'] }} </h2>
            <p class="text-white">Genre: {{ row['Genre'] }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}


</body>

{% endblock %}
  
