<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <title>Movietimes - Home</title>
</head>
<body>
  <div class="register-form">
    <form method="post" action="/add_user">
      <label for="name">Fullname:</label>
      <input type="text" id="name" name="name" required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      
      <input type="submit" value="Register">
     
    </form>
    <br>
    <input type="submit" value="Login">
  </div>
</body>
<html>