body {
  background-image: url('background.jpg');  
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the alpha (opacity) value as needed */
  height: 100%;
}

nav.hover {
  background-color: #021f0e;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the alpha (opacity) value as needed */
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  z-index: 100;
}


/* Form input fields */
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Form submit button */
.login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Form submit button hover effect */
.login-form input[type="submit"]:hover {
  background-color:black;
}



footer{
  color: #f6eb0c;
  font-size: 20px;
  font-weight: 500;
}